[Desktop Entry]
Encoding=UTF-8
Version=1.4
Type=Application
Terminal=false
Name=BabyFeed
Exec=/usr/bin/invoker --single-instance --type=e /opt/babyfeed/bin/babyfeed
Icon=/usr/share/icons/hicolor/80x80/apps/babyfeed80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
